.toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner-border {
    width: 4rem;
    height: 4rem;
}