/* ServerForm.css */
.server-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .server-form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .form-group input[type="text"]:focus,
  .form-group input[type="password"]:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 10);
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Scale button on hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
  }
  